
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    flex-direction: column;
    padding: 1%;

}
.article {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
    width: 70%;
}

.article-title {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.article-description {
    font-size: 1rem;
    margin-bottom: 10px;
}

.article-date {
    font-size: 0.8rem;
    color: #888;
}
.auther{
    font-size: 0.8rem;
    color: #888;
}